/* 
    основний колір #212121
    другий колір #757575
    білий #FFFFFF
    акцент #2196F3
*/

:root{
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white: #FFFFFF;
    --black: #000000;
    --background-color: #2F303A;
    --background-color-two:#F5F4FA;
}

body{
    background-color: var(--white);
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif ;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* Логотип */

.logo{
    color: var(--black);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-span{
    color: var(--accent-color);
}


/* Навігація */

.site-nav,
.contacts,
.features-list,
.img-list,
.team-list,
.button-list,
.project-list{
    list-style: none;
}

.site-nav .link {
    color:var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link.current{
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
/* Контакти */

.contacts .link{
    color: var(--primery-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* Герой */
.hero{
    background-color: var(--background-color);
}

.hero-title{
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button{
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

/* Особливості */

.features-list .title{
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-list .text{
    line-height: 1.71;
}

/*Що ми робимо*/

.what-we-do .title{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/*Команда*/
.team{
    background-color: var(--background-color-two);
}
.team > .title{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team-list .title{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list .text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/* Підвал */
.footer{
    background-color: var(--background-color);
}

.footer .text{
    color: var(--white);
    line-height: 1.71;
}

.footer .address{
    font-style: normal;
}
/*Список кнопок в Портфоліо*/

.button-list .button{
    background: var(--background-color-two);
    border-radius: 4px;
    border: none;
    font-family: Roboto sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.button-list .button:hover,
.button-list .button:focus{
    background: var(--accent-color);
    color: var(--white);
    cursor: pointer;
}

/*Список проектів*/

.project-list .title{
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-list .text{
    font-size: 16px;
    line-height: 1.88;
}

